<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.daily.dao.daily.FailedTodoDoMapper" >
  <resultMap id="BaseResultMap" type="com.daily.model.entity.daily.FailedTodoDo" >
    <id column="failed_id" property="failedId" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="faile_date" property="faileDate" jdbcType="TIMESTAMP" />
    <result column="rate" property="rate" jdbcType="REAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    failed_id, user_id, faile_date, rate
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.daily.model.entity.daily.FailedTodoDoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from daily.failed_todo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from daily.failed_todo
    where failed_id = #{failedId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from daily.failed_todo
    where failed_id = #{failedId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.daily.model.entity.daily.FailedTodoDoExample" >
    delete from daily.failed_todo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.daily.model.entity.daily.FailedTodoDo" >
    insert into daily.failed_todo (failed_id, user_id, faile_date, 
      rate)
    values (#{failedId,jdbcType=BIGINT}, #{userId,jdbcType=INTEGER}, #{faileDate,jdbcType=TIMESTAMP}, 
      #{rate,jdbcType=REAL})
  </insert>
  <insert id="insertSelective" parameterType="com.daily.model.entity.daily.FailedTodoDo" >
    insert into daily.failed_todo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="failedId != null" >
        failed_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="faileDate != null" >
        faile_date,
      </if>
      <if test="rate != null" >
        rate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="failedId != null" >
        #{failedId,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="faileDate != null" >
        #{faileDate,jdbcType=TIMESTAMP},
      </if>
      <if test="rate != null" >
        #{rate,jdbcType=REAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.daily.model.entity.daily.FailedTodoDoExample" resultType="java.lang.Integer" >
    select count(*) from daily.failed_todo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update daily.failed_todo
    <set >
      <if test="record.failedId != null" >
        failed_id = #{record.failedId,jdbcType=BIGINT},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.faileDate != null" >
        faile_date = #{record.faileDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.rate != null" >
        rate = #{record.rate,jdbcType=REAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update daily.failed_todo
    set failed_id = #{record.failedId,jdbcType=BIGINT},
      user_id = #{record.userId,jdbcType=INTEGER},
      faile_date = #{record.faileDate,jdbcType=TIMESTAMP},
      rate = #{record.rate,jdbcType=REAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.daily.model.entity.daily.FailedTodoDo" >
    update daily.failed_todo
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="faileDate != null" >
        faile_date = #{faileDate,jdbcType=TIMESTAMP},
      </if>
      <if test="rate != null" >
        rate = #{rate,jdbcType=REAL},
      </if>
    </set>
    where failed_id = #{failedId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.daily.model.entity.daily.FailedTodoDo" >
    update daily.failed_todo
    set user_id = #{userId,jdbcType=INTEGER},
      faile_date = #{faileDate,jdbcType=TIMESTAMP},
      rate = #{rate,jdbcType=REAL}
    where failed_id = #{failedId,jdbcType=BIGINT}
  </update>
</mapper>