<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.daily.dao.PlanDoMapper" >
  <resultMap id="BaseResultMap" type="com.daily.model.entity.PlanDo" >
    <id column="plan_id" property="planId" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="frequency" property="frequency" jdbcType="VARCHAR" />
    <result column="start_since" property="startSince" jdbcType="TIMESTAMP" />
    <result column="done" property="done" jdbcType="VARCHAR" />
    <result column="last_done_date" property="lastDoneDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    plan_id, user_id, content, type, frequency, start_since, done, last_done_date
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.daily.model.entity.PlanDoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from plan
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from plan
    where plan_id = #{planId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from plan
    where plan_id = #{planId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.daily.model.entity.PlanDoExample" >
    delete from plan
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.daily.model.entity.PlanDo" >
    insert into plan (plan_id, user_id, content, 
      type, frequency, start_since, 
      done, last_done_date)
    values (#{planId,jdbcType=BIGINT}, #{userId,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR}, #{frequency,jdbcType=VARCHAR}, #{startSince,jdbcType=TIMESTAMP}, 
      #{done,jdbcType=VARCHAR}, #{lastDoneDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.daily.model.entity.PlanDo" >
    insert into plan
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="planId != null" >
        plan_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="frequency != null" >
        frequency,
      </if>
      <if test="startSince != null" >
        start_since,
      </if>
      <if test="done != null" >
        done,
      </if>
      <if test="lastDoneDate != null" >
        last_done_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="planId != null" >
        #{planId,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="frequency != null" >
        #{frequency,jdbcType=VARCHAR},
      </if>
      <if test="startSince != null" >
        #{startSince,jdbcType=TIMESTAMP},
      </if>
      <if test="done != null" >
        #{done,jdbcType=VARCHAR},
      </if>
      <if test="lastDoneDate != null" >
        #{lastDoneDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.daily.model.entity.PlanDoExample" resultType="java.lang.Integer" >
    select count(*) from plan
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update plan
    <set >
      <if test="record.planId != null" >
        plan_id = #{record.planId,jdbcType=BIGINT},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=VARCHAR},
      </if>
      <if test="record.frequency != null" >
        frequency = #{record.frequency,jdbcType=VARCHAR},
      </if>
      <if test="record.startSince != null" >
        start_since = #{record.startSince,jdbcType=TIMESTAMP},
      </if>
      <if test="record.done != null" >
        done = #{record.done,jdbcType=VARCHAR},
      </if>
      <if test="record.lastDoneDate != null" >
        last_done_date = #{record.lastDoneDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update plan
    set plan_id = #{record.planId,jdbcType=BIGINT},
      user_id = #{record.userId,jdbcType=INTEGER},
      content = #{record.content,jdbcType=VARCHAR},
      type = #{record.type,jdbcType=VARCHAR},
      frequency = #{record.frequency,jdbcType=VARCHAR},
      start_since = #{record.startSince,jdbcType=TIMESTAMP},
      done = #{record.done,jdbcType=VARCHAR},
      last_done_date = #{record.lastDoneDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.daily.model.entity.PlanDo" >
    update plan
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="frequency != null" >
        frequency = #{frequency,jdbcType=VARCHAR},
      </if>
      <if test="startSince != null" >
        start_since = #{startSince,jdbcType=TIMESTAMP},
      </if>
      <if test="done != null" >
        done = #{done,jdbcType=VARCHAR},
      </if>
      <if test="lastDoneDate != null" >
        last_done_date = #{lastDoneDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where plan_id = #{planId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.daily.model.entity.PlanDo" >
    update plan
    set user_id = #{userId,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      frequency = #{frequency,jdbcType=VARCHAR},
      start_since = #{startSince,jdbcType=TIMESTAMP},
      done = #{done,jdbcType=VARCHAR},
      last_done_date = #{lastDoneDate,jdbcType=TIMESTAMP}
    where plan_id = #{planId,jdbcType=BIGINT}
  </update>
</mapper>